Make*
.deps
.libs
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
debug_run.sh
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules/
*.la
*.lo
run-tests.php
.idea/
.DS_Store
config.h.in~
